<!DOCTYPE html>
<html lang="en">
<%- include("../components/head.ejs") %>
<body>
    <h3>hello <%= handler.firstName %> <%= handler.lastName %></h3>
    <p>this is to inform you that you've been assigned as the handler for <%= email %> purchase of the following item(s):</p>
    <% items.map((item)=>{ %>
        <div style="display: inline-block;width:98%;border:1px solid lightgrey;padding:3px;">
            <label>name</label>
            <p style="display: block;text-align:left;font-size:24px;font-weight:bolder;">
                <%= item.name %></p>
        </div>
        <div>
            <label>price</label>
            <strong style="display: block;text-align:left;font-size:18px;font-weight:bold;">
                $<%= item.price %></strong>
        </div>
    <%})%>
    <footer>
        kindly reach out to customer at <a href="<%= email %>"><%= email %></a>
    </footer>
</body>
</html>